@model ConfiginatorWeb.Interactors.Commands.VariableSets.CreateVariableRequest;

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Add a Variable</h2>
Variable Set: @Model.VariableSetName
<br/><br/>
<form method="post">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.VariableSetName)
    @Html.LabelFor(m => m.Key)
    @Html.TextBoxFor(m => m.Key, new {@class = "form-text"})
    <br/><br/>
    <button class="btn btn-primary">Add</button>
    &nbsp;&nbsp;<button class="btn btn-secondary" onclick="@Url.ActionLink("Index", "VariableSet", new {Model.VariableSetName})">Cancel</button>
</form>
<br/><br/>
TODO: Combine this and the <i>Edit Value</i> page. This page is hack.