@model ConfiginatorWeb.Controllers.EditValueView

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1>Variable Set</h1>
<p>@Model.VariableSetName</p>
<h2>Key: @Model.Key</h2>

<form asp-action="SaveValue" method="post">
    @Html.AntiForgeryToken()
    <textarea id="value" name="value" style="width:400px;height: 200px;">@Model.SelectedVariable</textarea>
    <input type="hidden" name="variableSetName" value="@Model.VariableSetName"/>
    <input type="hidden" name="key" value="@Model.Key"/>
    <br/>
    <button type="submit">Save</button>
</form>

<h1>Resolved Variables</h1>

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Key</th>
        <th>Variable Set</th>
        <th>Value</th>
    </tr>
    </thead>
    <!-- .Where(t => string.Equals(Model.VariableSetName, t.Value.SourceVariableSet, StringComparison.OrdinalIgnoreCase)) -->
    @foreach (var t in Model.VariablesComposed.Variables)
    {
        <tr class="@(string.Equals(t.Value.Name, Model.Key, StringComparison.OrdinalIgnoreCase) ? "bg-info" : "")">
            <td>@t.Value.Name</td>
            <td>@t.Value.SourceVariableSetName</td>
            <td>
                <pre>@t.Value.Value.ToString()</pre>
            </td>
        </tr>
    }
</table>