@model ConfiginatorWeb.Queries.SectionDto

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js">
</script>

<script type="text/javascript">
function deploy(environmentName, releaseId) {
            const requestDto = {
                 SectionName: '@Model.SectionName',
                 EnvironmentName: environmentName,
                 ReleaseId: releaseId
            };
            $.post('/Release/Deploy', requestDto)
            .done(function(data) {
                document.location.reload();
            })
            .error(function (e) {
                alert(e);
            });
}

$(document).ready(function() {
    const deployButtons = $(":button")
    .filter("[data-deploy='1']");
    deployButtons
    .click(function (e) {
        const environment = $(this).data('e');
        const releaseId = $(this).data('r');
        deploy(environment, releaseId);
     });
 });
</script>
<h1>Configuration Section: @Model.SectionName</h1>
<h2>Environments</h2>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Releases</th>
    </tr>
    </thead>
    @foreach (var e in Model.Environments)
    {
        <tr>
            <td>@e.EnvironmentName</td>
            <td>
                @if (e.Releases.Any())
                {
                    <table class="table table-secondary">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Schema Version</th>
                            <th>Create Date</th>
                            <th>Token Set</th>
                            <th></th>
                        </tr>
                        </thead>
                        @foreach (var r in e.Releases)
                        {
                            <tr>
                                <td>
                                    <a asp-controller="Release" asp-action="Display" asp-route-sectionName="@Model.SectionName" asp-route-environmentName="@e.EnvironmentName" asp-route-releaseId="@r.ReleaseId">@r.ReleaseId</a>
                                </td>
                                <td>@r.Schema.Version.ToFullString()</td>
                                <td>@r.CreateDate.ToString("dddd, MMM dd yyyy HH:mm:ss")</td>
                                <td>@r.TokenSet?.TokenSetName</td>
                                <td>
                                    @* <button data-deploy="1" data-e="@e.EnvironmentName" data-r="@r.ReleaseId">Deploy</button> *@
                                    @if (r.IsDeployed)
                                    {
                                        <a asp-controller="Release" asp-action="Deploy" asp-route-sectionid="@Model.SectionId"
                                           asp-route-environmentid="@e.EnvironmentId"
                                           asp-route-releaseid="@r.ReleaseId">
                                            Redeploy
                                        </a>
                                        <span class="badge rounded-pill bg-success">Deployed</span>
                                    }
                                    else
                                    {
                                        <a asp-controller="Release" asp-action="Deploy" asp-route-sectionid="@Model.SectionId"
                                           asp-route-environmentid="@e.EnvironmentId"
                                           asp-route-releaseid="@r.ReleaseId">
                                            Deploy
                                        </a>
                                    }
                                    @if (r.IsOutOfDate)
                                    {
                                        <span class="badge rounded-pill bg-warning">Out of Date</span>
                                    }
                                </td>
                            </tr>
                        }
                    </table>
                }
                <a asp-controller="Release", asp-action="Add" asp-route-sectionName="@Model.SectionName" asp-route-environmentName="@e.EnvironmentName">Add</a>
                @if (e.Releases.Any())
                {
                    <span>
                        &nbsp;|
                        <a asp-controller="Release" asp-action="History" asp-route-environmentName="@e.EnvironmentName" asp-route-sectionName="@Model.SectionName">Deploy History</a>
                    </span>
                }
            </td>
        </tr>
    }
</table>
<h2>Schemas</h2>
<table class="table">
    @foreach (var s in Model.Schemas)
    {
        <tr>
            <td>@s.Version</td>
        </tr>
    }
</table>