@model ConfiginatorWeb.Models.Configuration.IndexView

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Configuration Sections</h2>
<table class="table">
    @foreach (var i in Model.ConfigurationSections)
    {
        <tr>
            <td>
                <a asp-action="Display" asp-route-name="@i.Name">@i.Name</a>
                @if (i.DeployedIsOutOfDate)
                {
                    <span class="badge rounded-pill bg-warning">Out of Date</span>
                }

            </td>
            <td>@i.Path</td>
        </tr>
    }
</table>
<a asp-action="Create">Add</a>
<br/><br/>
<h2>Token Sets</h2>
<table class="table">
    @foreach (var t in Model.TokenSets.OrderBy(kv => kv.TokenSetName))
    {
        <tr>
            <td>
                <a asp-controller="Token" asp-action="Index" asp-route-tokenSetName="@t.TokenSetName">@t.TokenSetName</a>
            </td>
        </tr>
    }
</table>