@model ConfiginatorWeb.Models.Release.DisplayView

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<p>Section: <a asp-controller="Configuration" asp-action="Display" asp-route-name="@Model.SectionName">@Model.SectionName</a></p>
<p>Environment:@Model.EnviornmentName</p>
<p>Release Id:@Model.ReleaseId</p>

<h2>Token Set</h2>
@if (Model.Release.TokenSet != null)
{
    <p>Name: @Model.Release.TokenSet.TokenSetName</p>
    <p>Base: @(Model.Release.TokenSet.Base ?? "none")</p>
    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
            <th>Source</th>
            <th></th>
            <th>Value</th>
        </tr>
        </thead>
        @foreach (var t in Model.Release.TokenSet.Tokens.Values.OrderBy(v => v.Name))
        {
            <tr>
                <td style="@(Model.Release.UsedTokens.Contains(t.Name) ? "font-weight: bold; background-color: lightblue;" : "")">@t.Name</td>
                <td>@t.SourceTokenSet</td>
                <td>@t.Resolution</td>
                <td><pre>@t.Value</pre></td>
            </tr>
        }
    </table>
}

<h2>Schema</h2>
<h3>Version @Model.Release.Schema.Version.ToFullString()</h3>
<pre>@Model.Release.Schema.Schema.ToJson()</pre>

<h2>Model Value</h2>
<pre>@Model.Release.ModelValue.ToString()</pre>

<h2>Resolved Value</h2>
<pre>@Model.Release.ResolvedValue.ToString()</pre>

<h2>Deployment History</h2>
@if (!Model.Release.Deployments.Any())
{
    <p>None</p>
}
<table class="table">
    <thead>
    <tr>
        <th>Deployment Date</th>
        <th>Action</th>
        <th>Reason</th>
    </tr>
    </thead>
    @foreach (var d in Model.Release.Deployments.OrderBy(d => d.DeploymentDate))
    {
        <tr>
            <td>
                @d.DeploymentDate.ToString("dddd, MMM dd yyyy HH:mm:ss")
                @if (d.IsDeployed)
                {
                    <span class="badge rounded-pill bg-success">Deployed</span>
                }
                
                @if (Model.Release.IsOutOfDate)
                {
                    <span class="badge rounded-pill bg-warning">Out of Date</span>
                }
            </td>
            <td>@d.Action.ToString()</td>
            <td>@d.Reason</td>
        </tr>
    }
</table>
