@model ConfiginatorWeb.Controllers.ReleaseController.HistoryView;

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Deploy History</h2>
<p>
    Configuration Name: <a asp-action="display" asp-controller="configuration" asp-route-name="@Model.SectionName">@Model.SectionName</a><br/>
    Environment: @Model.EnvironmentName<br/>
</p>
<table class="table">
    <thead>
    <tr>
        <th>Date</th>
        <th>Schema Version</th>
        <th>Release Id</th>
        <th>Reason</th>
    </tr>
    </thead>
    <!-- only showing deployments. de-deployment was ugly output, and not useful -->
    @foreach (var h in Model.History.Where(m => m.IsDeploymentAction))
    {
        <tr>
            <td>
                @h.Date.ToString("dddd, MMM dd yyyy HH:mm:ss")
                @if (h.IsDeployed)
                {
                    <span class="badge rounded-pill bg-success">Deployed</span>
                }
                @if (h.IsOutOrDate)
                {
                    <span class="badge rounded-pill bg-warning">Out of Date</span>
                }
            </td>
            <td>@h.SchemaVersion</td>
            <td><a asp-action="Display" asp-route-sectionName="@Model.SectionName" asp-route-environmentName="@Model.EnvironmentName" asp-route-releaseId="@h.ReleaseId">@h.ReleaseId</a></td>
            <td>@h.Reason</td>
        </tr>
    }
</table>