@using Allard.Configinator.Core.Model
@model ConfiginatorWeb.Controllers.ReleaseHistoryView;

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Deploy History</h2>
<p>
    Configuration Name: <a asp-action="display" asp-controller="configuration" asp-route-name="@Model.SelectedSection.SectionName">@Model.SelectedSection.SectionName</a><br/>
    Environment: @Model.SelectedEnvironment.EnvironmentName<br/>
</p>
<table class="table">
    <thead>
    <tr>
        <th>Date</th>
        <th>Schema Version</th>
        <th>Release Id</th>
        <th>Reason</th>
    </tr>
    </thead>
    <!-- only showing deployments. de-deployment was ugly output, and not useful -->
    @foreach (var h in Model.History.Where(h => h.History.DeploymentHistoryType == DeploymentHistoryType.Deployed))
    {
        <tr>
            <td>
                @h.History.DeploymentDate.ToString("dddd, MMM dd yyyy HH:mm:ss")
                @if (h.History.IsDeployed)
                {
                    <span class="badge rounded-pill bg-success">Deployed</span>
                }
                @* @if (h.IsOutOrDate) *@
                @* { *@
                @*     <span class="badge rounded-pill bg-warning">Out of Date</span> *@
                @* } *@
            </td>
            <td>@h.Release.Schema.Version.ToFullString()</td>
            <td>
                <a asp-action="Display" asp-route-sectionName="@Model.SelectedSection.SectionName" asp-route-environmentName="@Model.SelectedEnvironment.EnvironmentName" asp-route-releaseId="@h.">@h.Release.ReleaseId</a>
            </td>
            <td>@h.History.Reason</td>
        </tr>
    }
</table>