@using Allard.Json
@model ConfiginatorWeb.Views.Shared.Components.Schema.SchemaIndexView
<h2>Schema</h2>
<table class="table table-bordered">
    <tbody>
    <tr>
        <th class="table-secondary">Name</th>
        <th>@Model.Schema.Root.SchemaName</th>
    </tr>
    <tr>
        <th class="table-secondary">Owner</th>
        <td>
            @{
                var schemaInitial = Model.Dtos[Model.Schema.Root.SchemaName];
            }
            @if (schemaInitial.SectionId is null)
            {
                <span>
                    Namespace: <i>@schemaInitial.Namespace</i>
                </span>
            }
            else
            {
                <span>
                    Namespace: <i>@schemaInitial.Namespace</i>
                </span>
                <br/>
                <span>Section: @Html.SectionLink(schemaInitial.Namespace, schemaInitial.SectionName ?? "BUG", schemaInitial.SectionId.Value) </span>
            }
        </td>
    </tr>
    <tr>
        <th class="table-secondary">Environment Types</th>
        <td>
            <ul>
                @foreach (var et in Model.Dtos[Model.Schema.Root.SchemaName].EnvironmentTypes)
                {
                    <li>@et</li>
                }
            </ul>
            @if (Model.Dtos[Model.Schema.Root.SchemaName].PromoteTo != null)
            {
                <a asp-action="PromoteIndex" asp-route-schemaName="@Model.Schema.Root.SchemaName">Promote To @Model.Dtos[Model.Schema.Root.SchemaName].PromoteTo</a>
            }
        </td>
    </tr>
    <tr>
        <th class="table-secondary">Refers To</th>
        <td>
            <ul>
                @foreach (var et in Model.Schema.Root.RefersTo)
                {
                    <li>@et.FullName</li>
                }
            </ul>
        </td>
    </tr>
    <tr>
        <th class="table-secondary">Referrenced By</th>
        <td>
            <ul>
                @foreach (var et in Model.Schema.Root.ReferencedBy)
                {
                    <li>@et.FullName</li>
                }
            </ul>
        </td>
    </tr>
    </tbody>
</table>
<code>
    <pre>@Model.Schema.Root.SchemaSource.PrettyPrint()</pre>
</code>
@if (Model.Schema.References.Any())
{
    <h2>References</h2>
    foreach (var reference in Model.Schema.References)
    {
        <table class="table table-bordered">
            <tbody>
            <tr>
                <th class="table-secondary">Name</th>
                <th>@reference.SchemaName</th>
            </tr>
            <tr>
                <th class="table-secondary">Owner</th>
                <td>
                    @{
                        var schema = Model.Dtos[reference.SchemaName];
                    }
                    @if (schema.SectionId is null)
                    {
                        <span>
                            Namespace: <i>@schemaInitial.Namespace</i>
                        </span>
                    }
                    else
                    {
                        <span>Section: @Html.SectionLink(schema.Namespace, schema.SectionName ?? "BUG", schema.SectionId.Value) </span>
                    }
                </td>
            </tr>
            <tr>
                <th class="table-secondary">Environment Types</th>
                <td>
                    <ul>
                        @foreach (var et in Model.Dtos[reference.SchemaName].EnvironmentTypes)
                        {
                            <li>@et</li>
                        }
                    </ul>
                    @if (Model.Dtos[reference.SchemaName].PromoteTo != null)
                    {
                        <a asp-action="PromoteIndex" asp-route-schemaName="@reference.SchemaName">Promote To @Model.Dtos[reference.SchemaName].PromoteTo</a>
                    }
                </td>
            </tr>
            <tr>
                <th class="table-secondary">Refers To</th>
                <td>
                    <ul>
                        @foreach (var et in reference.RefersTo)
                        {
                            <li>@et.FullName</li>
                        }
                    </ul>
                </td>
            </tr>
            <tr>
                <th class="table-secondary">Referrenced By</th>
                <td>
                    <ul>
                        @foreach (var et in reference.ReferencedBy)
                        {
                            <li>@et.FullName</li>
                        }
                    </ul>
                </td>
            </tr>
            </tbody>
        </table>
        <code>
            <pre>@Model.Schema.Root.SchemaSource.PrettyPrint()</pre>
        </code>
    }
}
<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>
<h2>Diagram</h2>
<div class="mermaid">
    @Model.MermaidJs
</div>
<script>mermaid.initialize({ startOnLoad: true })</script>
<hr/>
<pre>
@Model.MermaidJs
</pre>