@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ConfiginatorWeb.Controllers.SectionIndexView

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js">
</script>

<script type="text/javascript">
function deploy(environmentName, releaseId) {
            const requestDto = {
                 SectionName: '@Model.Section.SectionName',
                 EnvironmentName: environmentName,
                 ReleaseId: releaseId
            };
            $.post('/Release/Deploy', requestDto)
            .done(function(data) {
                document.location.reload();
            })
            .error(function (e) {
                alert(e);
            });
}

$(document).ready(function() {
    const deployButtons = $(":button")
    .filter("[data-deploy='1']");
    deployButtons
    .click(function (e) {
        const environment = $(this).data('e');
        const releaseId = $(this).data('r');
        deploy(environment, releaseId);
     });
 });
</script>
<h1>Configuration Section</h1>
<p>Namespace: @Model.Section.Namespace</p>
<p>Section: @Model.Section.SectionName</p>
<h2>Environments</h2>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Releases</th>
    </tr>
    </thead>
    @foreach (var e in Model.Section.Environments.OrderBy(e => e.EnvironmentName))
    {
        <tr>
            <td>@e.EnvironmentName</td>
            <td>
                @if (e.Releases.Any())
                {
                    <table class="table table-secondary">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Schema Name</th>
                            <th>Create Date</th>
                            <th>Variable Set</th>
                            <th></th>
                        </tr>
                        </thead>
                        @foreach (var r in e.Releases.OrderByDescending(r => r.ReleaseId))
                        {
                            <tr>
                                <td>
                                    @Html.ReleaseLink(Model.Section.SectionId, e.EnvironmentId, r.ReleaseId)
                                </td>
                                <td>@r.Schema.SchemaName.FullName</td>
                                <td>@r.CreateDate.ToString("dddd, MMM dd yyyy HH:mm:ss")</td>
                                <td>
                                    @if (r.VariableSet != null)
                                    {
                                        @Html.VariableSetLink(r.VariableSet.VariableSetName)
                                    }
                                </td>
                                <td>
                                    @Html.ActionLink(r.IsDeployed ? "Re-Deploy" : "Deploy", "Deploy", "Release", new
                                    {
                                        Model.Section.SectionId,
                                        e.EnvironmentId,
                                        r.ReleaseId
                                    })
                                    <span>&nbsp;</span>@Html.IsDeployedBadge(r.IsDeployed)
                                    @Html.IsOutOfDateBadge(r.IsOutOfDate)
                                </td>
                            </tr>
                        }
                    </table>
                }
                <a asp-controller="Release" asp-action="Add" asp-route-sectionId="@Model.Section.SectionId" asp-route-environmentId="@e.EnvironmentId">Create Release</a>
                @if (e.Releases.Any())
                {
                    <span>
                        &nbsp;|
                        <a asp-controller="Release" asp-action="History" asp-route-environmentId="@e.EnvironmentId" asp-route-sectionId="@Model.Section.SectionId">Deploy History</a>
                    </span>
                }
            </td>
        </tr>
    }
</table>
<p>
    <a asp-action="AddEnvironment" asp-route-sectionId="@Model.Section.SectionId">Manage Environments</a>
</p>
<h2>Section Schemas</h2>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Name</th>
        <th>Environment Types</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var s in Model.Section.Schemas)
    {
        <tr>
            <td>@Html.SchemaLink(s.SchemaName.FullName) @Html.IsPreReleaseSchema(s.SchemaName.Version.IsPrerelease)</td>
            <td>@string.Join(", ", s.EnvironmentTypes)</td>
        </tr>
    }
    </tbody>
</table>
<p>
    <a asp-action="AddSchema" asp-controller="schema" asp-route-sectionId="@Model.Section.SectionId">Add Schema</a>
</p>