@model ConfiginatorWeb.Interactors.Queries.Section.IndexResponse

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>

<h2>Configinator Overview</h2>
<table class="table table-bordered">
    <thead>
    <tr class="table-secondary">
        <th>Namespace</th>
        <th>Sections</th>
        <th>Schemas</th>
        <th>Variable Sets</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var ns in Model.Namespaces.OrderBy(n => n.NamespaceName))
    {
        <tr>
            <td>@ns.NamespaceName</td>
            <td>
                <ul>
                    @foreach (var s in ns.Sections)
                    {
                        <li>
                            @Html.SectionLink(null, s.SectionName, s.SectionId)
                            <ul>
                                @foreach (var e in s.Environments.OrderBy(e => e.EnvironmentName))
                                {
                                    <li>@e.EnvironmentName @Html.IsDeployedBadge(e.IsDeployed) @Html.IsOutOfDateBadge(e.IsOutOfDate)</li>
                                }
                            </ul>
                        </li>
                    }
                </ul>
            </td>
            <td>
                @foreach (var s in ns.Schemas)
                {
                    <li>
                        @Html.SchemaLink(s.SchemaName.FullName)
                        @if (s.IsForSection)
                        {
                            <i>@s.SectionName</i>
                        }
                        @Html.IsPreReleaseSchema(s.SchemaName.Version.IsPrerelease)
                        <ul>
                            @foreach (var et in s.EnvironmentTypes)
                            {
                                <li>@et</li>
                            }
                        </ul>
                    </li>
                }
            </td>
            <td>
                @foreach (var byEnvironmentType in ns.VariableSets.GroupBy(vs => vs.EnvironmentType))
                {
                    <p>@byEnvironmentType.Key</p>
                    <ul>
                        @foreach (var vs in byEnvironmentType)
                        {
                            <li>@Html.VariableSetLink(vs.VariableSetName)</li>
                        }
                    </ul>
                }
            </td>
        </tr>
    }
    </tbody>
</table>
<ul>
    <li>
        <a asp-action="Create">Add Configuration Section</a>
    </li>
    <li>
        <a asp-action="AddSchema" asp-controller="Schema">Add Schema</a>
    </li>
    <li>
        <a asp-action="AddVariableSet" asp-controller="VariableSet">Add Variable Set</a>
    </li>
</ul>
<br/><br/>
<h1>Variable Sets</h1>
@foreach (var environmentType in Model
    .VariableSets
    .Where(t => t.Mermaid != null)
    .GroupBy(kv => kv.EnvironmentType))
{
    <h3>@environmentType.Key</h3>
    <hr/>
    @foreach (var vs in environmentType)
    {
        <div class="mermaid">
            @vs.Mermaid
        </div>
        <br/>
        <br/>
    }
}

<script>mermaid.initialize({ startOnLoad: true })</script>