@model ConfiginatorWeb.Interactors.Section.ConfigurationIndexResponse

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}
<script src="https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.min.js"></script>

<h2>Configuration Sections</h2>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Section Name</th>
        <th>Environment Types</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var i in Model.Sections)
    {
        <tr>
            <td>
                @Html.SectionLink(i.Namespace, i.Name, i.SectionId)
                @* @if (i.DeployedIsOutOfDate) *@
                @* { *@
                @*     <span class="badge rounded-pill bg-warning">Out of Date</span> *@
                @* } *@
            </td>
            <td>@string.Join(", ", i.EnvironmentTypes.OrderBy(et => et).ToArray())</td>
        </tr>
    }
    </tbody>
</table>

<a asp-action="Create">Add</a>

<br/><br/>
<h2>Schemas</h2>
<table class="table table-bordered">
    <thead>
    <tr>
        <th>Namespace</th>
        <th>Name</th>
        <th>Environment Types</th>
        <th>Description</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var t in Model.Schemas.OrderBy(kv => kv.SchemaName.FullName))
    {
        <tr>
            <td>@t.Namespace</td>
            <td>@Html.SchemaLink(t.SchemaName.FullName)</td>
            <td>@string.Join(", ", t.EnvironmentTypes.OrderBy(et => et).ToArray())</td>
            <td>@t.Description</td>
        </tr>
    }
    </tbody>
</table>
<p><a asp-action="AddSchema" asp-controller="Schema">Add Schema</a></p>
<br/>
<h2>Variable Sets</h2>
<br/>
@* TODO: create toggle for text vs diagram *@
@* <table class="table"> *@
@*     @foreach (var t in Model.VariableSets.OrderBy(kv => kv.VariableSetName)) *@
@*     { *@
@*         <tr> *@
@*             <td> *@
@*                 <a asp-controller="VariableSet" asp-action="Index" asp-route-variableSetName="@t.VariableSetName">@t.VariableSetName</a> *@
@*             </td> *@
@*         </tr> *@
@*     } *@
@* </table> *@

@foreach (var environmentType in Model
    .VariableSets
    .Where(t => t.Mermaid != null)
    .GroupBy(kv => kv.EnvironmentType))
{
    <h3>@environmentType.Key</h3>
    <hr/>
    @foreach (var vs in environmentType)
    {
        <div class="mermaid">
            @vs.Mermaid
        </div>
        <br/>
        <br/>
    }
}

<script>mermaid.initialize({ startOnLoad: true })</script>