@model ConfiginatorWeb.Controllers.EditTokenSetView
@using System.Linq;
@using Configinator7.Core
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@functions
{
    IEnumerable<TokenResolved> Tokens()
    {
        return Model.Resolved.Tokens.Values
            .OrderBy(t => string.Equals(t.SourceTokenSet, Model.Resolved.TokenSetName, StringComparison.OrdinalIgnoreCase) ? 1 : 0)
            .ThenBy(t => t.SourceTokenSet)
            .ThenBy(t => t.Name);
    }
}

<h2>Token Set: @Model.Resolved.TokenSetName</h2>

<table class="table">
    <thead>
    <tr>
        <th>Token Name</th>
        <th>Value</th>
        <th>Parent Values</th>
    </tr>
    </thead>
    @foreach (var t in Tokens())
    {
        <tr>
            <td>
                @t.Name
            </td>
            <td>
                @if (t.Resolution == Resolution.Inherited)
                {
                    <pre class="border border-2">@t.Value</pre>
                    <span class="badge rounded-pill bg-info">Inherited</span>
                }
                else
                {
                    <span>
                        Token Set: @t.SourceTokenSet<br/>
                        Json Type: @t.Value.Type<br/>
                        <pre class="border border-2">@t.Value</pre>
                    </span>
                    @if (t.Resolution == Resolution.Override)
                    {
                        <span class="badge rounded-pill bg-success">Overridden</span>
                    }
                }
            </td>
            <td>
                @if (t.Resolution is Resolution.Inherited or Resolution.Override)
                {
                    // crawl up the parents and make a list
                    // reverse and print the list
                    // this results in the info starting at the top base
                    // class, then down the stack
                    var items = new List<TokenResolved>();
                    var current = t.Parent;
                    while (current != null)
                    {
                        items.Add(current);
                        current = current.Parent;
                    }

                    items.Reverse();
                    foreach (var i in items)
                    {
                        <span>
                            Token Set: @i.SourceTokenSet<br/>
                            Json Type: @i.Value.Type<br/>
                            <pre class="border border-2">@i.Value</pre>
                        </span>
                    }
                }
            </td>
        </tr>
    }
</table>