@model ConfiginatorWeb.Controllers.EditTokenSetView
@using System.Linq;
@using Configinator7.Core
@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

@functions
{
    IEnumerable<TokenResolved> Tokens()
    {
        return Model.Resolved.Tokens.Values.OrderBy(t => t.Name);
    // .OrderBy(t => string.Equals(t.SourceTokenSet, Model.Resolved.TokenSetName, StringComparison.OrdinalIgnoreCase) ? 1 : 0)
    // .ThenBy(t => t.SourceTokenSet)
    // .ThenBy(t => t.Name);
    }
}

<style>
    pre {
        background-color: white;
        border: 1px solid #dee2e6;
        font-size: larger;
        padding: 15px;
        color: blue;
    }
</style>
<h2>Token Set: @Model.Resolved.TokenSetName</h2>
@if (Model.Resolved.Base != null)
{
    <h2>Base: @Model.Resolved.Base</h2>
}

<table class="table table-bordered">
    <thead>
    <tr>
        <th>Token Name</th>
        <th></th>
        <th>Value</th>
        <th>Parent Values</th>
    </tr>
    </thead>
    @foreach (var t in Tokens())
    {
        <tr>
            <td>
                @t.Name
            </td>
            <td>
               <a asp-action="EditValue" asp-route-tokenSetName="@Model.Resolved.TokenSetName" asp-route-key="@t.Name">Edit</a>
                @if (t.Resolution != Resolution.Inherited)
                {
                    <span>&nbsp;|&nbsp;<a href="#">Delete</a></span>
                }
                <br/>
                @switch (t.Resolution)
                {
                    case Resolution.Inherited:
                        <div class="badge rounded-pill bg-info">Inherited</div><br/>
                        break;
                    case Resolution.Override:
                        <span class="badge rounded-pill bg-success">Overridden</span><br/>
                        break;
                }            
            </td>
            <td>
                <pre>@t.Value</pre>
            </td>
            <td>
                @if (t.Resolution is Resolution.Inherited or Resolution.Override)
                {
                    // crawl up the parents and make a list
                    // reverse and print the list
                    // this results in the info starting at the top base
                    // class, then down the stack
                    var items = new List<TokenResolved>();
                    var current = t.Parent;
                    while (current != null)
                    {
                        items.Add(current);
                        current = current.Parent;
                    }

                    items.Reverse();
                    foreach (var i in items)
                    {
                        <span>
                            Token Set: @i.SourceTokenSet<br/>
                            <pre>@i.Value</pre>
                        </span>
                    }
                }
            </td>
        </tr>
    }
</table>