@using Microsoft.AspNetCore.Mvc.TagHelpers
@model ConfiginatorWeb.Views.Shared.Components.DeploymentHistory.DeploymentHistoryView
<h2>Deployment History</h2>
@if (Model.Release.Deployments.Any())
{
    <table class="table">
        <thead>
        <tr>
            <th>Deployment Id</th>
            <th>Deployment Date</th>
            <th>Notes</th>
            <th>Remove Date</th>
            <th>Remove Reason</th>
        </tr>
        </thead>
        @foreach (var d in Model.Release.Deployments.OrderBy(d => d.DeploymentDate))
        {
            <tr>
                <td>
                    <a
                        asp-controller="Release"
                        asp-action="DisplayDeployment"
                        asp-route-sectionId="@Model.Section.SectionId"
                        asp-route-environmentId="@Model.Environment.EnvironmentId"
                        asp-route-releaseId="@Model.Release.ReleaseId"
                        asp-route-deploymentId="@d.DeploymentId">
                        @d.DeploymentId
                    </a>
                </td>
                <td>
                    @d.DeploymentDate.ToString("dddd, MMM dd yyyy HH:mm:ss")
                    @Html.IsDeployedBadge(d.IsDeployed)
                    @Html.IsOutOfDateBadge(Model.Release.IsOutOfDate)
                </td>
                <td>@d.Notes</td>
                <td>@d.RemovedDate?.ToString("dddd, MMM dd yyyy HH:mm:ss")</td>
                <td>@d.RemoveReason</td>
            </tr>
        }
    </table>
}
else
{
    <p>
        <i>None</i>
    </p>
}