@model ConfiginatorWeb.Queries.SectionReleaseDto
<h2>Deployment History</h2>
@if (Model.Deployments.Any())
{
    <table class="table">
        <thead>
        <tr>
            <th>Deployment Id</th>
            <th>Deployment Date</th>
            <th>Notes</th>
            <th>Remove Date</th>
            <th>Remove Reason</th>
        </tr>
        </thead>
        @foreach (var d in Model.Deployments.OrderBy(d => d.DeploymentDate))
        {
            <tr>
                <td>@d.DeploymentId</td>
                <td>
                    @d.DeploymentDate.ToString("dddd, MMM dd yyyy HH:mm:ss")
                    @Html.IsDeployedBadge(d.IsDeployed)
                    @Html.IsOutOfDateBadge(Model.IsOutOfDate)
                </td>
                <td>@d.Notes</td>
                <td>@d.RemovedDate?.ToString("dddd, MMM dd yyyy HH:mm:ss")</td>
                <td>@d.RemoveReason</td>
            </tr>
        }
    </table>
}
else
{
    <p><i>None</i></p>
}